@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-bold;
	}
	h6 {
		@apply text-base font-bold;
	}
}

@layer utilities {
	.animate-in {
		animation: animateIn 0.3s ease 0.15s both;
	}

	@keyframes animateIn {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@layer components {
	.btn {
		@apply inline-flex items-center justify-center px-3 py-2 mt-2 text-base font-semibold text-white bg-blue-600 border border-transparent rounded-lg gap-x-2 hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none;
	}
	/* TODO these shouldn't be required on individual items */
	.input {
		@apply block w-full px-4 py-2 text-lg border border-gray-200 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900 dark:border-gray-700 dark:text-gray-300;
	}
	.radio {
		@apply self-center text-blue-600 border-gray-200 rounded-full shrink-0 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
	}
	.checkbox {
		@apply self-center w-5 h-5 text-blue-600 border-gray-200 rounded shrink-0 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
	}
	.label {
		@apply text-base font-semibold;
	}
	.radio + .label {
		@apply text-base text-gray-500 ms-2 dark:text-gray-400;
	}
	.select {
		@apply block w-full px-4 py-2 text-base border border-gray-200 rounded-lg pe-9 focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400;
	}
	.textarea {
		@apply block w-full px-4 py-2 text-base border border-gray-200 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-300;
	}
}

/* Defaults */
input[type='checkbox'] {
	@apply checkbox;
}
input[type='radio'] {
	@apply radio;
}
select {
	@apply select;
}
textarea {
	@apply textarea;
}
