@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-bold;
	}
	h6 {
		@apply text-base font-bold;
	}
}

@layer utilities {
	.animate-in {
		animation: animateIn 0.3s ease 0.15s both;
	}

	@keyframes animateIn {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@layer components {
	.nav-item {
		@apply flex items-center w-full px-2 py-2 text-sm text-gray-900 rounded-md;

		&.active {
			@apply text-white bg-red-500;
		}
	}
	.nav-btn {
		@apply inline-flex items-center justify-center px-3 py-2 text-sm font-semibold border border-transparent rounded-lg gap-x-2;
		@apply disabled:opacity-50 disabled:pointer-events-none;
		@apply text-blue-500 hover:bg-blue-100 hover:text-blue-800;
		@apply dark:hover:bg-blue-800/30 dark:hover:text-blue-400;

		&.green {
			@apply text-green-500 hover:bg-green-100 hover:text-green-800;
			@apply dark:hover:bg-green-800/30 dark:hover:text-green-400;
		}
		&.red {
			@apply text-red-500 hover:bg-red-100 hover:text-red-800;
			@apply dark:hover:bg-red-800/30 dark:hover:text-red-400;
		}
		&.teal {
			@apply text-teal-500 hover:bg-teal-100 hover:text-teal-800;
			@apply dark:hover:bg-teal-800/30 dark:hover:text-teal-400;
		}
		&.gray {
			@apply text-gray-300 hover:bg-gray-100;
			@apply dark:hover:bg-gray-600/30 dark:hover:text-gray-100;
		}
	}
	.btn {
		@apply inline-flex items-center justify-center px-3 py-2 mt-2 text-base font-semibold rounded-lg gap-x-2;
		@apply text-white bg-blue-600 border border-transparent hover:bg-blue-700;
		@apply disabled:opacity-50 disabled:pointer-events-none;

		&.green {
			@apply text-white bg-green-700 hover:bg-green-800;
		}
		&.red {
			@apply text-white bg-red-600 hover:bg-red-700;
		}
		&.teal {
			@apply text-white bg-teal-700 hover:bg-teal-800;
		}
		&.gray {
			@apply text-white bg-gray-500 hover:bg-gray-600;
		}
	}
	/* TODO these shouldn't be required on individual items */
	.input {
		@apply block w-full px-4 py-2 text-lg border border-gray-200 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900 dark:border-gray-700 dark:text-gray-300;
	}
	.radio {
		@apply self-center text-blue-600 border-gray-200 rounded-full shrink-0 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
	}
	.checkbox {
		@apply self-center w-5 h-5 text-blue-600 border-gray-200 rounded shrink-0 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
	}
	.label {
		@apply text-base font-semibold;
	}
	.radio + .label {
		@apply text-base text-gray-500 ms-2 dark:text-gray-400;
	}
	.select {
		@apply block w-full px-4 py-2 text-base border border-gray-200 rounded-lg pe-9 focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400;
	}
	.textarea {
		@apply block w-full px-4 py-2 text-base border border-gray-200 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-300;
	}
	.avatar {
		@apply inline-flex items-center justify-center h-[2.875rem] w-[2.875rem] text-xl font-semibold leading-none rounded-full border uppercase;
	}

	.cool-code {
		@apply relative p-4 my-0 overflow-scroll text-xs text-green-300 rounded-md;
	}
}

/* Defaults */
input[type='checkbox'] {
	@apply checkbox;
}
input[type='radio'] {
	@apply radio;
}
select {
	@apply select;
}
textarea {
	@apply textarea;
}

i.remove {
	--fa-primary-color: #ffffff;
	--fa-primary-opacity: 1;
	--fa-secondary-color: #ef4444;
	--fa-secondary-opacity: 1;
	&:hover {
		--fa-secondary-color: #f87171;
	}
}
