@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 221.2 83.2% 53.3%;
		--secondary-foreground: 210 40% 98%;
		--muted: 240 4.8% 90.9%;
		--muted-foreground: 240 3.8% 60.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 76% 46%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 80%;
		--input: 240 5.9% 80%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 10.9%;
		--muted-foreground: 0 0% 55.9%;
		--accent: 0 0% 8%;
		--accent-foreground: 0 0% 98%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--destructive: 0 76% 46%;
		--destructive-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--border: 0 0% 24.9%;
		--input: 0 0% 24.9%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--ring: 142.1 70.6% 45.3%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		@apply overflow-x-hidden bg-background text-foreground;
	}
	h1 {
		@apply text-4xl font-extrabold tracking-tight scroll-m-20 lg:text-5xl;
	}
	h2 {
		@apply pb-2 text-3xl font-semibold tracking-tight border-b scroll-m-20 first:mt-0;
	}
	h3 {
		@apply text-2xl font-semibold tracking-tight scroll-m-20;
	}
	h4 {
		@apply text-xl font-semibold tracking-tight scroll-m-20;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}
}

/* @layer components {
	.input,
	input[type='text'],
	input[type='password'],
	input[type='email'],
	input[type='url'],
	textarea {
		@apply block w-full px-4 py-2 text-base border rounded-lg;
		@apply disabled:opacity-50 disabled:pointer-events-none;
		@apply text-gray-700 border-gray-300 bg-gray-50;
		@apply dark:text-gray-300 dark:bg-gray-900 dark:border-gray-700;
	}

	select {
		@apply block w-full px-4 py-2 text-base border rounded-lg pe-9;
		@apply disabled:opacity-50 disabled:pointer-events-none;
		@apply text-gray-700 border-gray-300 bg-gray-50;
		@apply dark:text-gray-300 dark:bg-gray-900 dark:border-gray-700;
	}

	input[type='radio'] {
		@apply self-center rounded-full shrink-0;
		@apply disabled:opacity-50 disabled:pointer-events-none;
		@apply text-blue-600 border-gray-200;
		@apply dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500;
	}

	.label {
		@apply text-base font-semibold;
	}
	.radio + .label {
		@apply text-base text-gray-500 ms-2 dark:text-gray-400;
	}
} */

/* Random Shit */

pre > code {
	@apply relative p-4 my-0 overflow-scroll text-xs rounded-md;
	@apply text-green-700 dark:text-green-300;
}

/* Skeletons */
.fallback {
	@apply container flex flex-col w-full;
	@apply animate-pulse;
	.list-item {
		@apply inline-flex w-full h-12 items-center gap-x-3.5 py-3 px-4 -mt-px text-lg font-medium border;
		@apply first:rounded-t-lg first:mt-0 last:rounded-b-lg;
		@apply border-gray-300 dark:border-gray-700;
		@apply bg-gray-100 dark:bg-gray-900;
	}
}

/* .border-container {
	@apply flex flex-col items-stretch gap-x-3.5 gap-y-4 p-4 text-base font-medium border -mt-px rounded-lg divide-y;
	@apply text-gray-800 bg-white border-gray-200 divide-gray-200;
	@apply dark:text-white dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-700;
} */

.list {
	.list-item {
		@apply flex flex-row items-stretch gap-x-1 sm:gap-x-3.5 gap-y-4 py-2.5 px-4 text-base font-medium border -mt-px;
		@apply first:rounded-t-lg first:mt-0 last:rounded-b-lg;
		@apply text-gray-800 bg-white border-gray-200;
		@apply dark:bg-gray-900 dark:border-gray-700 dark:text-white;

		&.complete {
			@apply opacity-75;
			@apply bg-gray-200 hover:bg-gray-200/65;
			@apply dark:bg-gray-900 hover:dark:bg-gray-900/65;
		}

		&.pending {
			@apply animate-pulse bg-gray-50 dark:bg-gray-900;
		}

		&:not(.editing):not(.pending) {
			@apply hover:bg-gray-50 dark:hover:bg-gray-800;
		}

		&.editing {
			@apply border-2 border-yellow-500 dark:border-yellow-300;
		}
	}
}

.conversion-wrapper {
	@apply flex flex-col items-stretch gap-2 px-4;
}

.conversion-notes {
	@apply pl-4 overflow-hidden text-xs text-gray-400 whitespace-break-spaces text-ellipsis;
}
