@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 221.2 83.2% 53.3%;
		--secondary-foreground: 210 40% 98%;
		--muted: 240 4.8% 90.9%;
		--muted-foreground: 240 3.8% 60.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 76% 46%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 80%;
		--input: 240 5.9% 80%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 10.9%;
		--muted-foreground: 0 0% 55.9%;
		--accent: 0 0% 8%;
		--accent-foreground: 0 0% 98%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--destructive: 0 76% 46%;
		--destructive-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--border: 0 0% 24.9%;
		--input: 0 0% 24.9%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--ring: 142.1 70.6% 45.3%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		@apply overflow-x-hidden text-foreground bg-sidebar;
	}
	h1 {
		@apply text-4xl font-extrabold tracking-tight whitespace-normal scroll-m-20 lg:text-5xl;
	}
	h2 {
		@apply pb-2 text-3xl font-semibold tracking-tight border-b scroll-m-20 first:mt-0;
	}
	h3 {
		@apply text-2xl font-semibold tracking-tight scroll-m-20;
	}
	h4 {
		@apply text-xl font-semibold tracking-tight scroll-m-20;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}

	.markdown {
		/* @apply ps-2; */
		> * {
			@apply border-none;
		}
		> :not(:first-child) {
			@apply mt-2;
		}
		a {
			@apply transition-colors text-primary hover:underline underline-offset-4;
		}
		p {
			@apply text-sm;
		}
		h1,
		h2,
		h3 {
			@apply p-0;
		}
		ul {
			@apply list-disc;
		}
		ol {
			@apply list-decimal;
		}
		ul,
		ol {
			@apply pl-4 m-0 [&_*]:m-0 [&_ul]:pl-2 [&_ol]:pl-2 list-outside;
		}
	}
}

@layer utilities {
	.animate-page-in {
		animation: animatePageIn 0.3s ease 0.15s both;
	}
	.animate-page-in-delayed {
		animation: animatePageIn 0.3s ease 1.15s both;
	}

	@keyframes animatePageIn {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.animate-page-down {
		animation: animatePageDown 0.3s ease 0.15s both;
	}

	@keyframes animatePageDown {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

/* @keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
} */

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
